.nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  color: var(--text-color);
  justify-content: space-between;
  font-family: "Cal Sans", sans-serif;
  background: var(--bg-secondary-color);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);

  span {
    color: var(--primary-color);
  }
}

.menu {
  display: flex;
  gap: 1rem;
}

.nav-actions {
  gap: 1rem;
  display: flex;
  align-items: center;

  button {
    color: var(--text-color);
  }
}

.settings-menu {
  top: 80px;
  right: 2px;
  width: 200px;
  padding: 0.5rem 1rem;
  position: absolute;
  border-radius: 0.5rem;
  background: var(--bg-secondary-color);

  .settings-menu-item {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
  }

  .settings-menu-item:last-child {
    border-bottom: none;
  }
}
